* {
    margin: 0;
}

#gnome {
    border: 1px dashed blue;
    background-color: red;
    width: 98px;
    height: 98px;
}

#container {
    border: 1px dashed blue;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

}

.tile {
    display: flex;
    border: 1px dashed blue;
    min-width: 98px;
    min-height: 98px;
    width: 98px;
    height: 98px;
    background-color: gray;
}