* {
    margin: 0;
}

#container {
    display: grid;
    grid-template-areas: 1rem 1rem 1rem 1rem 1rem;
    grid-gap: 0px;
    justify-content: left;
    position: relative;
    /* border: 1px dashed blue; */
}

.tile {
    /* border: 1px solid rgb(117, 117, 117); */
    background-image: url("img/tile4.png");
    width: 75px;
    height: 75px;
}


#gnome {
    position: absolute;
    align-self: center;
    justify-self: center;
    /* place-self: center; */
    z-index: 1;
    background-image: url("img/gnome_tile.png");
    width: 75px;
    height: 75px;
}


.enemy {
    position: absolute;
    z-index: 1;
    background-image: url("img/enemy_tile.png");
    width: 75px;
    height: 75px;
}